.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-toggler {
    border-color: #fff;
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #fc9f09; /* Change to your desired hover color */
  }
  
  .navbar-nav .nav-item .nav-link.active {
    color: #fc9f09; /* Change to your desired active color */
  }
  
  @media (max-width: 768px) {
    .navbar-nav .nav-item .nav-link {
      padding: 10px 0;
    }
  }

  .navbar{
    background-color: #0D1821;
  }

/* CSS */
.btn-custom {
    min-width: 6rem;
    margin:1em;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.btn-custom:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn-custom:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-custom:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
  
  