@import 'src/styles.scss';
nav,
nav * {
  cursor: none !important;
}
nav:hover ~ .cursor-ring {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

/* Navbar Styling */
.navbar {
  background-color: $primary-light; /* No background for the navbar */
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Arial', sans-serif;
  z-index: 1000; /* Ensure navbar is on top */
  position: sticky;
  top: 0;
}

/* Navbar Brand Styling */
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: $font-light; /* Light font color */
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: $primary-dark; /* Accent color */
}

/* Navbar Toggler Button */
.navbar-toggler {
  border-color: $primary-dark;
}

.navbar-toggler-icon {
  background-color: $primary-dark;
}

/* Navbar Links */
.navbar-nav .nav-item .nav-link {
  color: $font-light; /* Light font color */
  font-size: 18px;
  font-weight: 400; /* Light font weight for non-active items */
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
  color: $primary-dark; /* Dark blue/purple on hover */
  background-color: $primary-light; /* Light grey background on hover */
  border-radius: $border-radius;
}

.navbar-nav .nav-item .nav-link.active {
  color: $primary-dark; /* Dark blue/purple for active link */
  font-weight: 600; /* Bold for active items */
  border: 2px solid $primary-dark; /* Add border around the active link */
  padding: 8px 20px; /* Adjust padding to accommodate border */
  box-shadow: 0 0 8px rgba(74, 29, 115, 0.5); /* Add a subtle box-shadow */
  border-radius: $border-radius; /* Ensure rounded corners for the border */
}

.navbar-nav .nav-item:last-child .nav-link {
  margin-left: 20px;
}

/* Custom Button */
.btn-custom {
  min-width: 8rem;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: $font-light;
  background-color: $secondary-color;
  border: none;
  border-radius: $border-radius;
  text-align: center;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-custom:hover {
  background-color: darken($secondary-color, 10%); /* Darken on hover */
  transform: translateY(-2px);
}

.btn-custom:focus {
  box-shadow: 0 0 0 4px rgba(247, 165, 0, 0.3); /* Focus outline */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-nav .nav-item {
    text-align: center;
    margin: 5px 0;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 10px 15px;
  }
}
