<div class="project-selection-container">
    <h2 class="project-title" *ngIf="!selectionProject">Please select a project to open</h2>
    <h2 class="project-title" *ngIf="selectionProject">Opening Project - {{ selectionProject }}</h2>
    <div class="project-options-box">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let project of projects">
            <div class="project-option" (click)="showProject(project)" [ngClass]="{'selected': selectionProject === project.number}">
              <div class="project-card" [ngClass]="project.color">
                <h3>{{ project.name }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="selected-project mt-4">
      <div class="container">
        <div *ngIf="loading" class="loading-message">
          <!-- Add the loading SVG icon -->
        <img src="/assets/static/loading.gif" alt="" srcset="" height="150px" width="150px">
        </div>
        <!-- <div class="row">
          <div *ngIf="selectionProject === '0'" class="col-md-12">
          </div>
          <div *ngIf="selectionProject === '6'" class="col-md-12">
          </div>
        </div> -->
      </div>
    </div>
  </div>
  