.cursor {
  cursor: pointer;
}
.wrapper {
  background-color: #302f2f;
  color: white;
}
main {
  min-height: 25rem;
  box-sizing: content-box;
  width: 100%;
  background-color: #0f0f0f;
  .container > .row > .col-12:nth-of-type(2) {
    .imageSec {
      img {
        height: 25rem !important;
        max-width: 95vw;
      }
    }
  }
}

section {
  // height: 25rem;
  li {
    list-style-type: none;
  }
}
#secondImg {
  height: 10rem;
}
.bold {
  font-weight: bold;
}
.w-120 {
  width: 120%;
  display: flex;
  justify-content: end;
}
.margin-4 {
  margin-right: 4rem;
}
progress {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);
}

.progress {
  width: 55%;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}
.progress .progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(
    90deg,
    #b34bff,
    #ffd33d 17%,
    #17eaf2 34%,
    #ff4b0a 51%,
    #ea4aaa 68%,
    #01feff 85%,
    #b34bff
  );
  background-size: 300% 100%;
  -webkit-animation: progress-animation 2s linear infinite;
  animation: progress-animation 2s linear infinite;
}

@-webkit-keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
.size-1rem {
  font-size: 1rem !important;
}
.upwork {
  filter: invert(1);
  background-color: #7f26c2;
  border-radius: 10px;
  transform: scale(0.76);
  width: 48px;
  height: 48px;
}

.spaced {
  letter-spacing: 1rem;
}
.spaced-1 {
  letter-spacing: 0.5rem;
}
.social-icons {
  display: flex;
  li {
    list-style-type: none;
  }
  p:nth-of-type(3) img {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding:0.2rem
  }
}
.gmail-svg{
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
}
.overflow-break{
  overflow: anywhere;
}

/* Add these styles at the end of your existing styles */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fc9f09; /* Change the background color as needed */
  border: none;
  color: white;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* Optional: Add animation for a smoother transition */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.floating-button {
  animation: fadeIn 0.5s ease-in-out;
}