<div class="wrapper">
  <div
    class="d-flex flex-column justify-content-center align-items-center text-white py-4 topHead"
  >
    <div class="title">
      <h3>Pushpinder Singh</h3>
    </div>
    <br />
    <div class="buttons">
      <label class="mx-3 cursor">home</label>
      <label class="mx-3 cursor">about me</label>
      <label class="mx-3 cursor" >Snippets</label>
      <app-snippets></app-snippets>
      <label class="mx-3 cursor">contact us</label>
    </div>
  </div>

  <main>
    <div class="container ml-4">
      <div class="row justify-content-around">
        <div class="d-flex align-items-end col-sm-6 col-12">
          <section
            class="d-flex flex-column justify-content-end align-items-start pl-5 py-5"
          >
            <h2 class="spaced-1">I'M A FULL STACK <br>
                 <p class="spaced py-2">
                     WEB DEVELOPER
                 </p>
                </h2>
            <div class="social-icons">
              <p>
                <a
                  href="https://www.linkedin.com/in/pushpinderdeveloper/"
                  target="_blank"
                >
                  <img src="./assets/linkedin.svg" alt="linkedin" />
                </a>
              </p>
              <p class="upwork px-1 pt-1">
                <a
                  href="https://www.upwork.com/freelancers/~0107b5d0ecd126ed73"
                  target="_blank"
                >
                  <img src="./assets/upwork1.svg" alt="upwork" />
                </a>
              </p>
              <p class="px-1 pt-1">
                <a
                  href="https://github.com/psthejohn"
                  target="_blank"
                >
                  <img src="./assets/github.svg" alt="github" />
                </a>
              </p>
            </div>
          </section>
        </div>
        <div class="col-sm-6 col-12">
          <section class="imageSec">
            <img src="./assets/psthejohn.jpg" alt="" />
          </section>
        </div>
      </div>
    </div>
  </main>

  <section class="my-3 py-3">
    <div class="d-flex justify-content-start align-items-center flex-column">
      <li>
        <img
          id="secondImg"
          src="./assets/psthejohn.jpg"
          alt="pushpinder"
          srcset=""
        />
      </li>
      <li>
        <div class="d-flex flex-column my-2">
          <h3>PUSHPINDER SINGH</h3>
          <p class="d-flex justify-content-center">Software Developer</p>
        </div>
      </li>
      <div class="infoCV">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-12">
              <li>
                <p>
                  I am a professional developer with over 5 years experience in
                  the tech/web development industry.
                </p>
                <p>
                  I have always been passionate about technology. Thus, I
                  decided to bind my life with computers and programming. I
                  entered university and started coding when I was a student. In
                  such a way, my hobby has turned into my profession.
                </p>
                <p>
                  I am a highly organized and creative developer and I am always
                  open to starting a new interesting project.
                </p>
              </li>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-between">
            <div class="d-flex flex-column justify-content-between col-md-4">
              <div>
                <h3>CONTACTS</h3>
                <span>
                  <p class="d-flex overflow-break">
                    <img class="gmail-svg" src="./assets/gmail.svg" alt="">
                    programmerpushpinder@gmail.com
                  </p>
                  <p>+91 - 96 102 26 367</p>
                </span>
              </div>
              <div>
                <h3>SKILLS</h3>
                <div
                  class="d-flex justify-content-between align-items-center w-75 my-2"
                >
                  Angular
                  <div class="progress mr-3 pr-3">
                    <span class="progress-bar" style="width: 90%"></span>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center w-75 my-2"
                >
                  HTML
                  <div class="progress mr-3 pr-3">
                    <span class="progress-bar" style="width: 94%"></span>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center w-75 my-2"
                >
                  Javascript
                  <div class="progress mr-3 pr-3">
                    <span class="progress-bar" style="width: 80%"></span>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center w-75 my-2"
                >
                  Java
                  <div class="progress mr-3 pr-3">
                    <span class="progress-bar" style="width: 75%"></span>
                  </div>
                </div>
              </div>
              <div>
                <h3>LANGUAGES</h3>
                <div
                  class="d-flex justify-content-between align-items-center w-75 my-2"
                >
                  English
                  <div class="progress mr-3 pr-3">
                    <span class="progress-bar" style="width: 99%"></span>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center w-75 my-2"
                >
                  Hindi
                  <div class="progress mr-3 pr-3">
                    <span class="progress-bar" style="width: 90%"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <h3>EXPERIENCES</h3>
              <div class="d-flex justify-content-between">
                <div class="margin-4">
                  <p class="bold">Internal Project</p>
                  <p>
                    (Oodles Technologies Pvt Ltd.) For the first six months, as
                    a senior angular developer with a full-time job, my main
                    focus is to incorporate every new feature that arises in
                    regards to applicant resourcing and the interview process.
                    After that, I'm presently working on the WBS Module (Work
                    Breakdown Structure), which is a methodical approach to
                    determine how a project might be allocated across teams
                    depending on the various resources we have and how their
                    costs affect overall project costs. The project's complexity
                    comprised 9 distinct views for the same page dependent on
                    data and cost estimation.
                  </p>
                </div>
                <div class="w-120">2021 - 2022</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="margin-4">
                  <p class="bold">Maverick ( Game Based Learning Engine)</p>
                  <p>
                    ( Stackroute (NIIT), Bangalore ) Designing a Game-Based
                    learning platform, using a micro service based architecture.
                    The product had three basic game modes that is, Single
                    Player, Multi Player and an adaptive game mode.
                  </p>
                </div>
                <div class="w-120">2018</div>
              </div>
              <div class="d-flex justify-content-between">
                <div class="margin-4">
                  <p class="bold">Factory Command & Control Center</p>
                  <p>
                    ( ITC Infotech Ind Pvt Ltd., Bangalore ) FCCC is a
                    successful attempt to combine analytics and human
                    involvement by extracting raw data from IoT devices and
                    translating it to understandable representations.
                  </p>
                </div>
                <div class="w-120">2018 - 2019</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
